(
    next_level: Some("assets/levels/level2.ron"),
    map: MapDef(
        width: 16,
        height: 16,
        tiles: [
            W, W, W, W, W, W, W, W, W, W, W, W, W, W, W, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W,
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W,
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, W, W, W, W, W, W, W, W, W, W, W, W, W, W, W,
        ],
    ),
    entities: [
        Player((300.0, 300.0)),
        Goal((400.0, 64.0)),
        Bullet((100.0, 100.0)),
        Box((200.0, 200.0)),
    ],
)