(
    next_level: Some("assets/levels/level2.ron"),
    map: MapDef(
        width: 16,
        height: 16,
        tiles: [
            W, W, W, W, W, W, W, W, W, W, W, W, W, W, W, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W,
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W,
            W, G, G, G, G, G, G, G, G, G, G, G, G, G, G, W, 
            W, W, W, W, W, W, W, W, W, W, W, W, W, W, W, W,
        ],
    ),
    entities: [
        Player((300.0, 300.0)),
        Goal((400.0, 64.0)),
        MainCell((64.0, 128.0)),
        Bullet((100.0, 100.0)),
        Brute((100.0, 100.0)),
        Brute((100.0, 112.0)),
        Brute((100.0, 124.0)),
        Brute((100.0, 136.0)),
        Brute((100.0, 148.0)),
        Brute((100.0, 160.0)),
        Brute((100.0, 172.0)),
        Brute((100.0, 184.0)),
        Brute((112.0, 100.0)),
        Brute((112.0, 112.0)),
        Brute((112.0, 124.0)),
        Brute((112.0, 136.0)),
        Brute((112.0, 148.0)),
        Brute((112.0, 160.0)),
        Brute((112.0, 172.0)),
        Brute((112.0, 184.0)),
        Brute((124.0, 100.0)),
        Brute((124.0, 112.0)),
        Brute((124.0, 124.0)),
        Brute((124.0, 136.0)),
        Brute((124.0, 148.0)),
        Brute((124.0, 160.0)),
        Brute((124.0, 172.0)),
        Brute((124.0, 184.0)),
        Brute((136.0, 100.0)),
        Brute((136.0, 112.0)),
        Brute((136.0, 124.0)),
        Brute((136.0, 136.0)),
        Brute((136.0, 148.0)),
        Brute((136.0, 160.0)),
        Brute((136.0, 172.0)),
        Brute((136.0, 184.0)),
        Brute((148.0, 100.0)),
        Brute((148.0, 112.0)),
        Brute((148.0, 124.0)),
        Brute((148.0, 136.0)),
        Brute((148.0, 148.0)),
        Brute((148.0, 160.0)),
        Brute((148.0, 172.0)),
        Brute((148.0, 184.0)),
        Brute((160.0, 100.0)),
        Brute((160.0, 112.0)),
        Brute((160.0, 124.0)),
        Brute((160.0, 136.0)),
        Brute((160.0, 148.0)),
        Brute((160.0, 160.0)),
        Brute((160.0, 172.0)),
        Brute((160.0, 184.0)),
        Brute((172.0, 100.0)),
        Brute((172.0, 112.0)),
        Brute((172.0, 124.0)),
        Brute((172.0, 136.0)),
        Brute((172.0, 148.0)),
        Brute((172.0, 160.0)),
        Brute((172.0, 172.0)),
        Brute((172.0, 184.0)),
        Brute((184.0, 100.0)),
        Brute((184.0, 112.0)),
        Brute((184.0, 124.0)),
        Brute((184.0, 136.0)),
        Brute((184.0, 148.0)),
        Brute((184.0, 160.0)),
        Brute((184.0, 172.0)),
        Brute((184.0, 184.0)),
    ],
)