name: Deployer

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ vars.RUST_VERSION }}
          override: true
          target: wasm32-unknown-unknown
          components: rustfmt
      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: deploy-${{ runner.os }}-${{ vars.RUST_VERSION }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: deploy-${{ runner.os }}-${{ vars.RUST_VERSION }}-cargo-
      - name: Build
        run: cargo build --target wasm32-unknown-unknown --profile wasm-release
      - name: Create dist dir
        run: mkdir dist
      - name: Acquire wasm build
        run: cp ./target/wasm32-unknown-unknown/wasm-release/${{ github.event.repository.name }}.wasm ./dist/game.wasm
      - name: Copy assets
        run: cp -rf ./assets ./dist/
      - name: Copy static
        run: cp ./static/* ./dist
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-dist
          path: ./dist
  deploy-to-pages:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Create artifact dir
        run: mkdir ./dist
      - name: Acquire artifact
        uses: actions/download-artifact@v4
        with:
          name: web-dist
          path: ./dist
      - name: Push to GitHub pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/